#week-datepicker .ui-datepicker, #datepicker .ui-datepicker {
  width: 100%;
}
#week-datepicker tbody .ui-datepicker-week-col {
  font-weight: bold;
  text-align: center;
  background-color: #74bce4;
  border: 1px solid #fff;
  border-radius: 6px;
  cursor: pointer;
}
#week-datepicker tbody .ui-datepicker-week-col:hover {
  background-color: #c7e5f5;
}
.sched-time {
  float: left;
  width: 141px;
}
span.span-row {
  display: block;
  width: 100%;
  text-align: right;
  padding-right: 18px;
}
#selected-sched span.sel {
  display: block;
}
.profile-photo img{
  margin-bottom: 21px;
  border-radius: 50%;
  width: 90px;
}
.photo-form input[type=file], .audio-form input[type=file] {
  display: inline;
}
.call-form {
  display: inline;
}
.profile-photo.sched-photo img{
  margin-bottom: 0px;
}
a.navbar-brand {
  padding-top: 3px;
}
li.message-owner {
  text-align: right;
  background-color: #ddffd3;
}
li.message-owner .badge.message{
  float: left;
}
.badge.message {
  background-color: #ccc;
  margin-left: 3px;
  font-weight: normal;
}
.credit-num {
  border: 1px solid #aaa;
  padding: 9px 15px;
  font-size: 21px;
}
.admin-link {
  display: block;
}
.bg-info {
  background-color: #ebf6fd;
}
#app #app-navbar-collapse ul.navbar-right > li a {
  font-weight: bold;
}
.panel-heading {
  font-weight: bold;
}
